In [ ]:
#Tuples are an ordered sequence
#Tuples are expressed in Comma separated elements in Parenthenses.
#Tuples are values in the parentheses.
#In Python there are different types: Strings, Integer, Float. There are all contained in a Tuple.
#But the type of variable is a tuple.
#Each element of a tuple can be accessed via an index.

In [34]:
#str = 'disco'
#int = 10
#float = 1.2
tuple = ('disco', '10', '1.2')

In [5]:
tuple[0]

'disco'

In [6]:
tuple[1]

'10'

In [7]:
tuple[2]

'1.2'

In [8]:
tuple[-3]

'disco'

In [9]:
tuple[-2]

'10'

In [10]:
tuple[-1]

'1.2'

In [44]:
tuple1 = ('disco', '10', '1.2')

In [47]:
tuple2 = tuple1 + ("hard rock", "10")

In [50]:
tuple2

('disco', '10', '1.2', 'hard rock', '10')

In [51]:
#Tuples: Slicing
tuple2[0:3]

('disco', '10', '1.2')

In [55]:
tuple2[3:5]

('hard rock', '10')

In [58]:
len(("disco", 10, 1.2, "hard rock", 10))

5

In [ ]:
#Tuples are immutable. We cannot change them

In [60]:
Ratings = (10, 9, 6, 5, 10, 8, 9, 6, 2)
Ratings1=Ratings

In [61]:
Ratings

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [62]:
Ratings1

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [63]:
Ratings[4]

10

In [64]:
Ratings1[4]

10

In [65]:
RatingsSorted=sorted(Ratings)

In [66]:
RatingsSorted

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [67]:
Ratings1

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [68]:
Ratings

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [69]:
Ratings=RatingsSorted

In [70]:
Ratings

[2, 5, 6, 6, 8, 9, 9, 10, 10]

In [71]:
Ratings1

(10, 9, 6, 5, 10, 8, 9, 6, 2)

In [84]:
#Tuples: Nesting
#Tuples can contain other data types. It is called Nesting

NT=(1,2,("pop", "rock"), (3,4), ("disco",(1,2)))
NT[4]

('disco', (1, 2))

In [73]:
NT[2]

('pop', 'rock')

In [74]:
NT[3]

(3, 4)

In [78]:
NT[2]

('pop', 'rock')

In [82]:
NT[2][0]

'pop'

In [86]:
NT[2][1]

'rock'

In [87]:
NT[4][1]

(1, 2)

In [89]:
NT[3][0]

3

In [90]:
NT[3][1]

4

In [91]:
NT=(1,2,("pop", "rock"), (3,4), ("disco",(1,2)))
NT[2][1][0]

'r'

In [92]:
NT[2][1][1]

'o'

In [94]:
NT[4][0][1]

'i'

In [95]:
L = ["Michael Jackson", 10.1, 1982]

In [105]:
L[2]

1982

In [ ]:
#Lists
#Lists are also ordered sequences
#List is represented with square brackets
#List are mutable
#Lists are like tuples, but they are mutable

In [ ]:
#Lists contain strings, floats, integers
#We can nest other lists
#We also nest Tuples in other Data Structures

In [107]:
L = ["Michael Jackson", 10.1, 1982, [1,2], ('A',1)]

In [108]:
L[0]

'Michael Jackson'

In [109]:
L[1]

10.1

In [110]:
L[2]

1982

In [111]:
L[3][0]

1

In [112]:
L[-5]

'Michael Jackson'

In [ ]:
#Lists:Slicing

In [115]:
L = ["Michael Jackson", 10.1, 1982, "MJ", 1]
L[3:5]

['MJ', 1]

In [116]:
L = ["Michael Jackson", 10.1, 1982]
L1 = L+["pop", 10]

In [117]:
L1

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [ ]:
#Lists are mutable that means we can change them.

In [121]:
L1 = ["Michael Jackson", 10.1, 1982]
L1.extend(["pop",10])

In [122]:
L1

['Michael Jackson', 10.1, 1982, 'pop', 10]

In [123]:
L=["Michael Jackson", 10.1, 1982]
L.append(["pop",10])

In [124]:
L

['Michael Jackson', 10.1, 1982, ['pop', 10]]

In [127]:
L[3]

['pop', 10]

In [128]:
L.append("A")

In [129]:
L

['Michael Jackson', 10.1, 1982, ['pop', 10], 'A']

In [ ]:
#Lists are mutable so, we can change them

In [130]:
A=["disco", 10, 1.2]
A[0]

'disco'

In [131]:
A[0]="hard rock"

In [132]:
A

['hard rock', 10, 1.2]

In [ ]:
#deleting an element

In [133]:
del(A[0])

In [134]:
A

[10, 1.2]

In [135]:
del(A[1])

In [136]:
A

[10]

In [ ]:
#Splitting

In [137]:
"hard rock".split()

['hard', 'rock']

In [138]:
"A,B,C,D".split(",")

['A', 'B', 'C', 'D']

In [ ]:
#Lists: Aliasing

In [139]:
A=["hard rock", 10, 1.2]

In [140]:
B=A

In [141]:
A

['hard rock', 10, 1.2]

In [142]:
B

['hard rock', 10, 1.2]

In [143]:
B[0]

'hard rock'

In [144]:
A[0]

'hard rock'

In [145]:
A[0]="banana"

In [146]:
B

['banana', 10, 1.2]

In [147]:
A

['banana', 10, 1.2]

In [148]:
#Lists: Clone
A=["hard rock", 10, 1.2]
B=A[:]

In [149]:
A

['hard rock', 10, 1.2]

In [150]:
B

['hard rock', 10, 1.2]

In [151]:
help(A)

Help on list object:

class list(object)
 |  list(iterable=(), /)
 |
 |  Built-in mutable sequence.
 |
 |  If no argument is given, the constructor creates a new empty list.
 |  The argument must be an iterable if specified.
 |
 |  Methods defined here:
 |
 |  __add__(self, value, /)
 |      Return self+value.
 |
 |  __contains__(self, key, /)
 |      Return key in self.
 |
 |  __delitem__(self, key, /)
 |      Delete self[key].
 |
 |  __eq__(self, value, /)
 |      Return self==value.
 |
 |  __ge__(self, value, /)
 |      Return self>=value.
 |
 |  __getattribute__(self, name, /)
 |      Return getattr(self, name).
 |
 |  __getitem__(...)
 |      x.__getitem__(y) <==> x[y]
 |
 |  __gt__(self, value, /)
 |      Return self>value.
 |
 |  __iadd__(self, value, /)
 |      Implement self+=value.
 |
 |  __imul__(self, value, /)
 |      Implement self*=value.
 |
 |  __init__(self, /, *args, **kwargs)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __iter__(self, /)
 |      Implement iter(self).
 |
 |  __le__(self, value, /)
 |      Return self<=value.
 |
 |  __len__(self, /)
 |      Return len(self).
 |
 |  __lt__(self, value, /)
 |      Return self<value.
 |
 |  __mul__(self, value, /)
 |      Return self*value.
 |
 |  __ne__(self, value, /)
 |      Return self!=value.
 |
 |  __repr__(self, /)
 |      Return repr(self).
 |
 |  __reversed__(self, /)
 |      Return a reverse iterator over the list.
 |
 |  __rmul__(self, value, /)
 |      Return value*self.
 |
 |  __setitem__(self, key, value, /)
 |      Set self[key] to value.
 |
 |  __sizeof__(self, /)
 |      Return the size of the list in memory, in bytes.
 |
 |  append(self, object, /)
 |      Append object to the end of the list.
 |
 |  clear(self, /)
 |      Remove all items from list.
 |
 |  copy(self, /)
 |      Return a shallow copy of the list.
 |
 |  count(self, value, /)
 |      Return number of occurrences of value.
 |
 |  extend(self, iterable, /)
 |      Extend list by appending elements from the iterable.
 |
 |  index(self, value, start=0, stop=9223372036854775807, /)
 |      Return first index of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  insert(self, index, object, /)
 |      Insert object before index.
 |
 |  pop(self, index=-1, /)
 |      Remove and return item at index (default last).
 |
 |      Raises IndexError if list is empty or index is out of range.
 |
 |  remove(self, value, /)
 |      Remove first occurrence of value.
 |
 |      Raises ValueError if the value is not present.
 |
 |  reverse(self, /)
 |      Reverse *IN PLACE*.
 |
 |  sort(self, /, *, key=None, reverse=False)
 |      Sort the list in ascending order and return None.
 |
 |      The sort is in-place (i.e. the list itself is modified) and stable (i.e. the
 |      order of two equal elements is maintained).
 |
 |      If a key function is given, apply it once to each list item and sort them,
 |      ascending or descending, according to their function values.
 |
 |      The reverse flag can be set to sort in descending order.
 |
 |  ----------------------------------------------------------------------
 |  Static methods defined here:
 |
 |  __new__(*args, **kwargs) from builtins.type
 |      Create and return a new object.  See help(type) for accurate signature.
 |
 |  ----------------------------------------------------------------------
 |  Data and other attributes defined here:
 |
 |  __hash__ = None

In [153]:
#Create the tuple (0,1,2,3) and assign it to the Variable A:

A = (0,1,2,3)
print(A)

(0, 1, 2, 3)

In [156]:
# Find the first two elements of the Tuple A:
A[0:2]

(0, 1)

In [157]:
# Find the first two elements of the List B:

B=["a", "b", "c", "d"]

In [158]:
B[0:2]

['a', 'b']

In [161]:
B[0] = 'A'

In [163]:
B

['A', 'b', 'c', 'd']